@import url('https://fonts.googleapis.com/css?family=Yantramanav:100');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400');


html, body {
    margin:0;
    padding:0;
    height: 100%;
    width: 100%;

}
.intro {
    height: 100%;
    width: 100%;
    margin: auto;
    /* background: linear-gradient(rgba(0, 0, 205, .75), rgba(255, 250, 240, .95) */
      /* ),url("images/background3.jpg");     */
    display: table;
    top: 0;
    background-size: cover;
    background-position: center;

}
.intro .inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
}

.content {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    /* padding-bottom: 10%; */
}
.content h1 {
    font-family: 'Courier';
    font-size: .25 vmin;
    font-weight: 100;
    color: black;
    line-height: 70%;
} 
.text-center.text-md-left.mt-5 {
    font-family: 'Courier';

}
@media screen and (max-width: 900px) {
    .content {
        padding-bottom: 30%;
    }
    /* .content h1 {
        font-size: 450%;
    } */
}
@media screen and (max-width: 768px) {
    .content {
        padding-bottom: 40%;
    }
    /* .content h1 {
        font-size: 300%;
    } */
}
@media screen and (max-width: 400px) {
    .content {
        padding-bottom: 50%;
    }
    /* .content h1 {
        font-size: 250%;
    } */
}


.love {
    text-align: center;
}
.makermark {
    font-family: 'Inconsolata', monospace;
    padding-top: 20px;
    padding-bottom: 10px;

    vertical-align: text-bottom;
}


* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

 
/* Medium screens */
@media all and (min-width: 600px) {
    
}

 
