@import url('https://fonts.googleapis.com/css?family=Yantramanav:100');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400');


html, body {
    margin:0;
    padding:0;
    height: 100%;
    width: 100%;

}
.intro {
    height: 100%;
    width: 100%;
    margin: auto;
    background-image: url("images/background2.jpg");
    display: table;
    top: 0;
    background-size: cover;
}
.intro .inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
}

.content {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 10%;
}
.content h1 {
    font-family: 'Yantramanav', sans-serif;
    font-size: 600%;
    font-weight: 100;
    color: #e1efe9;
    line-height: 70%;
} 
.content p {
    font-family: 'Montserrat', sans-serif;
    font-size: 135%;
    color: #3a6168;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
}
@media screen and (max-width: 900px) {
    .content {
        padding-bottom: 30%;
    }
    .content h1 {
        font-size: 450%;
    }
}
@media screen and (max-width: 768px) {
    .content {
        padding-bottom: 40%;
    }
    .content h1 {
        font-size: 300%;
    }
}
@media screen and (max-width: 400px) {
    .content {
        padding-bottom: 50%;
    }
    .content h1 {
        font-size: 250%;
    }
}
footer {
    /* margin-top: 10px; */
    display: inline-block;
    position: relative;
}
.site-footer{
    height: 4em;
    /* background-color: #f5f5f5; */
    font-family: 'Roboto Condensed', sans-serif;
    color: #757575;
    display: flex;
    flex-direction: column;
    
}
.love {
    text-align: center;
}
.makermark {
    font-family: 'Inconsolata', monospace;
    padding-top: 20px;
    padding-bottom: 10px;

    vertical-align: text-bottom;
}
.foot {
    /* background:linear-gradient(90deg, #292929 70%, #ffc816 30%); */
    text-align:center;
    font-size: 11pt;
    letter-spacing: -1px;
    padding-top: 2em;
    padding-bottom: 2em;
}
.contactinfo {
    text-align: center;
    /* padding-right: 40px; */
    font-size: 10pt;
}
.foot ul {
    display:inline-block;
    list-style:none; 
    padding: 0px;
    margin: 0px;
    /* background-color: #f5f5f5; */
    vertical-align: middle;
}
* html .foot ul { /* Target IE6 */
    display:inline;
}
*+html .foot ul { /* Target IE7 */
    display:inline;
}
.foot li {
    display:inline;
}
.foot a {
    /* float:left; */
    /* text-align: center; */
    text-decoration:none; 
    padding: 20px 16px;
    color: #757575;

}